.vs/
third/
build/
*.so
*.a
.vscode/
libTest/
out/
lib/
Test/mysqlTest/bin/
Test/mysqlTest/build/
Test/uvTest/build/
Test/uvTest/bin/
Test/uvTest/public/
Test/asioTest/build/
Test/asioTest/bin/
Test/asioTest/public/